<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

  <script src="/js/script.js"></script>
  <link rel="stylesheet" href="/css/style.css">
 </head>
 <body>
  <header role="banner">
   <h1>{{title}}</h1>
  </header>
  <div role="main">
   <p>{{body}}</p>
  </div>
 </body>
</html>
